{
	"useTabs": true,
	"tabWidth": 4,
	"insert_final_newline": false,
	"trim_trailing_whitespace": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 80,
	"semi": true,
	"plugins": [
		"prettier-plugin-svelte"
	],
	"pluginSearchDirs": [
		"."
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}