{{- $g := site.Params.giscus -}}
{{- if and $g.enable (in .Kind "page") -}}
  <div id="giscus_thread" class="mt-14">
    <script src="https://giscus.app/client.js"
      data-repo="{{ $g.repo }}"
      data-repo-id="{{ $g.repo_id }}"
      data-category="{{ $g.category }}"
      data-category-id="{{ $g.category_id }}"
      data-lang='{{ default "en" $g.lang }}'
      data-mapping='{{ default "pathname" $g.mapping }}'
      data-reactions-enabled='{{ default "1" $g.reactions }}'
      data-emit-metadata='{{ default "0" $g.emit_metadata }}'
      data-theme="catppuccin_latte"
      data-theme-dark="catppuccin_frappe"
      data-loading='{{ default "lazy" $g.loading }}'
      crossorigin="anonymous"
      data-input-position="top"
      async>
    </script>
  </div>
{{- end -}}
