{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-14">
      <div class="container">
        <div class="row justify-center">
          <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" "DisplayXL" "800x" ) }}
          </div>
          <div class="lg:col-7 md:col-9 mb-8 text-center">
            <h1 class="mb-4 text-h3 lg:text-h1">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                  class="btn btn-primary"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener"
                  {{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->
  {{with  .Params.latestPosts }}

  {{ $latest := first 2 ( where site.RegularPages.ByDate.Reverse "Section" "blog" ) }}
  {{/*  .Site.RegularPages.Related . | first 10  */}}
  {{/*  {{ $latest := (.Site.RegularPages . | first 4) }}  */}}
   <section class="section-sm">

     <div class="container">

       <h2 class="text-center text-h3 lg:text-h2 mb-12">
         Latest musings
       </h2>

       <div class="row -mx-4">
         {{ range $latest }}
         <div class="col-12 md:col-6 lg:col-6 px-4 mb-12">
           {{ partial "components/blog-card" .  }}
         </div>
         {{ end }}
       </div>

       <!-- CTA to blog list -->
       <div class="text-center mt-14">
         <a href="{{ .link | absURL }}" class="btn btn-outline-primary">
           {{ .seeMoreText }}<i class="fa fa-arrow-right pl-2"></i>
         </a>
       </div>

     </div>
   </section>
  {{ end }}
{{ end }}
